
body{
  all:inherit;
  overflow: hidden;
  width: 100%;
 
  position: relative;
}


.bgimg1{
  width: 100%;
  /* margin-left: -10px; */
  margin-top: -10px;
  /* margin-right: -0.95835%; */
  height: 200px;
  position: absolute;
  background-image: url("./images/bg_sky.jpg");
  background-repeat: repeat;
  background-size: cover;

  background: #246e89 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_sky.jpg") repeat-x  100% 100% / auto 100%;
  top: 0;
  
}


.bgimg2{

    margin-top: 140px;
    /* margin-left: -10px; */
  height: 300px;
  width: 100%;
}
.Back_ground{
  position:absolute;

  overflow: hidden; 
  

  min-width: 3550px;
  
}

.Back_down{
  position: relative;;
  z-index: 999;
  
  overflow: hidden; 
  min-width: 2600px;
  
}
.Queen{
  
  z-index: 1;
  height: 400px;
  display: flex;
  overflow: hidden;
  margin-top: -410px;
  justify-content: center;
}